$fa-font-path: "../bower_components/components-font-awesome/fonts";

@import "../../bower_components/components-font-awesome/scss/font-awesome";
@import "../theme/bootstrap/css/bootstrap.css";
@import "../theme/css/non-minified/select2.css";
@import "../theme/css/non-minified/owl.carousel.css";
@import "../theme/css/non-minified/owl.theme.default.css";
@import "../theme/css/non-minified/robotodraft.css";
@import "../theme/css/style.css";
@import "../theme/css/style-blue.css";
@import "../theme/css/responsive.css";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}