<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="row">
            <div class="collapse navbar-collapse" id="navbar-ex1-collapse">
                <ul class="nav navbar-nav" active-link>
                    <li ng-class="{active : vm.isActive('/products')}"><a href="#/products">Products</a></li>
                    <!--<li ng-class="{active : vm.isActive('/cart')}"><a href="#/cart">Shopping Cart</a></li>
                    <li ng-class="{active : vm.isActive('/checkout')}"><a href="#/checkout">Checkout</a></li>-->
                </ul>
            </div>
        </div>
    </div>
</nav>