<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="filter-sidebar">
                <div class="title"><span>Categories</span></div>
                <ul>
                    <li>
                        <div class="checkbox">
                            <input type="checkbox" id="DressCheckbox" checked="checked"><label for="DressCheckbox">Ladies (10)</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <input type="checkbox" id="SweaterCheckbox"><label for="SweaterCheckbox">Men (09)</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-9">
            <div class="title"><span>Men</span></div>

            <div class="col-sm-4 col-md-3 box-product-outer" ng-repeat="product in products">
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="detail.html">
                            <img alt="Product" ng-src="{{vm.getImageLink(product)}}">
                        </a>
                        <div class="option">
                            <a ng-click="vm.addToCart(product)" data-toggle="tooltip" data-placement="bottom" title="Add to Cart" class="clickable">
                                <i class="ace-icon fa fa-shopping-cart"></i>
                            </a>
                            <a ng-click="vm.addToWishlist(product)" data-toggle="tooltip" data-placement="bottom" title="Wishlist" class="clickable">
                                <i class="ace-icon fa fa-heart"></i>
                            </a>
                        </div>
                    </div>
                    <h6>
                        <a href="detail.html">{{product.title}}</a>
                    </h6>
                    <div class="price">
                        <div>{{product.amount.symbol}}{{product.amount.total}}</div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 text-center" ng-if="vm.hasProducts()">
                <ul class="pagination">
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="disabled"><a href="#">&lsaquo;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">&rsaquo;</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>