<div class="product-sorting-bar">
    <div>Soft By
        <select name="sortby" class="select2" ng-model="sortBy"
                ng-options="option.title for option in sortOptions" ng-change="vm.sortOptionChanged(option)">
        </select>
    </div>
    <div>Show
        <select name="show" class="select2" ng-model="itemsPerPage"
                ng-options="option.value for option in itemsPerPageOptions" ng-change="vm.itemsPerPageChanged(option.value)">
        </select> per page
    </div>
</div>

<!--
<div class="product-sorting-bar">
    <div>
        Soft By
        <select name="sortby" class="select2 select2-hidden-accessible">
            <option value="">Recomended</option>
            <option value="">Low Price » High Price</option>
            <option value="">High Price » High Price</option>
        </select>
                    <span class="select2 select2-container select2-container&#45;&#45;default" dir="ltr" style="width: 159px;">
                        <span class="selection">
                            <span class="select2-selection select2-selection&#45;&#45;single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-sortby-p5-container">
                                <span class="select2-selection__rendered" id="select2-sortby-p5-container" title="Recomended">Recomended</span>
                                <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
                            </span>
                        </span>
                        <span class="dropdown-wrapper" aria-hidden="true"></span>
                    </span>
    </div>
    <div>
        Show
        <select name="show" class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
            <option value="">8</option>
            <option value="">12</option>
            <option value="">16</option>
        </select>
                    <span class="select2 select2-container select2-container&#45;&#45;default select2-container&#45;&#45;focus" dir="ltr" style="width: 60px;">
                        <span class="selection">
                            <span class="select2-selection select2-selection&#45;&#45;single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-show-vk-container">
                                <span class="select2-selection__rendered" id="select2-show-vk-container" title="8">8</span>
                                <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
                            </span>
                        </span>
                        <span class="dropdown-wrapper" aria-hidden="true"></span>
                    </span> per page
    </div>
</div>-->
