<div class="fullwidth clearfix">
  <div id="topcontainer" class="bodycontainer clearfix" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">
    <p><span class="fa fa-signal"></span></p>
    <h1><span>{{env.appName}}</span><br />is coming soon</h1>
    <p>It's almost ready ... honestly</p>
  </div>
</div>
<div class="arrow-separator arrow-white"></div>
<div class="arrow-separator arrow-theme"></div>
<div class="fullwidth colour2 clearfix">
  <div id="maincont" class="bodycontainer clearfix" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">
    <p><strong>We are working on something very interesting!</strong></p>
    <p>Join the waiting list for the beta. We will keep you posted.</p>
    <div id="signupform" class="sb-search clearfix">
      <form method="post" id="contact" class="clearfix">
        <input class="sb-search-input" placeholder="Your email here ..." type="text" value="">
        <input class="sb-search-submit" value="" type="submit">
        <button class="formbutton" type="submit">Notify Me</button>
      </form>
    </div>
  </div>
</div>
<div class="arrow-separator arrow-themelight"></div>
<div class="fullwidth clearfix">
  <div id="footercont" class="bodycontainer clearfix" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">
    <div id="socialmedia" class="clearfix">
      <ul>
        <li><a title="" href="#" rel="external"><span class="fa fa-facebook"></span></a></li>
        <li><a title="" href="#" rel="external"><span class="fa fa-twitter"></span></a></li>
        <li><a title="" href="#" rel="external"><span class="fa fa-google-plus"></span></a></li>
        <li><a title="" href="#" rel="external"><span class="fa fa-linkedin"></span></a></li>
      </ul>
    </div>
    <p>
      2016, All rights reserved. Crafted with love by <a title="{{env.developer}}" ng-href="{{env.developerWebsite}}" rel="external">{{env.developer}}</a>
    </p>
  </div>
</div>
